@model IEnumerable<WebStore_GeekBrains_Summer.ViewModels.EmployeeVM>

@{
    ViewData["Title"] = "Emplyees";
}

<h1>Сотрудники</h1>

<a asp-action="Edit">Добавить></a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
